.quote-page {
  text-align: center;
  margin: 40px 200px;
}

.quote-page h1 {
  margin: 40px 40px;
  text-decoration: underline;
}

.quote-page h2 {
  text-align: left;
  margin: 20px 0;
}
.quote-page p {
  text-align: left;
  margin-bottom: 20px;
  line-height: 1.8;
}

.images {
  width: 850px;
  height: auto;
}

.figure {
  text-align: center;
  font-style: italic;
  background-color: #c7e2ef;
  width: 850px;
  margin: 0 auto;
}

.why-choose ul {
  list-style-type: disc; /* Định dạng kiểu dấu đầu dòng */
  margin-left: 20px; /* Khoảng cách lề trái cho danh sách */
}

.why-choose li {
  text-align: left;
  margin-bottom: 10px; /* Khoảng cách giữa các mục */
  font-size: 16px; /* Kích thước chữ cho các mục */
  line-height: 1.6; /* Tăng giãn dòng để mục dễ đọc hơn */
}
