.ant-select-dropdown {
  width: auto !important;
  min-width: 200px; /* Tùy chỉnh theo nội dung */
  max-height: 300px; /* Chiều cao tối đa nếu cần */
  overflow-y: auto; /* Cuộn nếu nội dung vượt quá chiều cao */
}

.ant-select-selection-item {
  white-space: nowrap; /* Hiển thị nội dung trong cùng một dòng */
}

.createorder {
  border-radius: 8px;
  background-color: #d0f2ec;
  padding: 10px 20px;
  margin: 10px 60px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
