.myrequest {
  padding: 0 100px;
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: center;
}

.filter-button {
  margin: 10px;
}

.filter-button.active {
  background-color: #1890ff;
  color: white;
  border-color: #1890ff;
}

.document-content {
  display: flex;
  gap: 20px;
}

.document-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.document-content label {
  font-weight: bold;
}

.document-price label {
  font-weight: bold;
}

.request-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* .request-price label {
  font-weight: bold;
} */
