.header-container {
  align-self: self-end;
  display: flex;
  align-items: center;
  padding: 0 16px; /* Thêm padding ngang để tạo không gian bên trong */
  background-color: var(--color-bg-container); /* Sử dụng biến màu nếu có */
}

.logout-button {
  font-weight: bold;
  background-color: red;
  color: white;
}

.breadcrumb-highlight{
  font-size: 18px;
  font-weight: bold;
  color: #000000 !important;
}

.breadcrumb-bold{
  font-size: 18px;
  color: #000000 !important;
  
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px; 
  width: 80%;
  background: #ebedef;
  margin-bottom: 20px;
  border-radius: 2%;
  margin-left: 16px;
  margin-top: 3px;
}

.sidebar-logo {
  width: 100%; 
  max-height: 40px; 
  object-fit: contain; 
}
