.historyorderpage {
  padding: 0 100px;
  padding-top: 20px;
  padding-bottom: 100px;
  text-align: center;
}

.filter-button {
  margin: 10px;
}

.filter-button.active {
  background-color: #1890ff;
  color: white;
  border-color: #1890ff;
}

.status-processing {
  background-color: rgb(199, 243, 210);
  padding: 5px;
  border-radius: 8px;
  width: 100px;
  font-size: 12px;
  text-align: center;
}

.status-implementing {
  background-color: #23d783;
  padding: 5px;
  border-radius: 8px;
  width: 120px;
  font-size: 12px;
  text-align: center;
}

.status-completed {
  color: white;
  background-color: #2685e4;
  padding: 5px;
  border-radius: 8px;
  width: 120px;
  font-size: 12px;
  text-align: center;
}

.status-delivered {
  color: white;
  background-color: #e03955;
  padding: 5px;
  border-radius: 8px;
  width: 100px;
  font-size: 12px;
  text-align: center;
}

.status-delivering {
  background-color: #f1c557;
  padding: 5px;
  border-radius: 8px;
  width: 100px;
  font-size: 12px;
  text-align: center;
}

.status-canceled {
  color: white;
  background-color: rgb(147, 153, 151);
  padding: 5px;
  border-radius: 8px;
  width: 100px;
  font-size: 12px;
  text-align: center;
}

.detail-button {
  border-radius: 8px;
  border: 1px solid;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

.document-content {
  display: flex;
  gap: 20px;
}

.document-content-bottom {
  display: flex;
  margin-bottom: 30px;
  gap: 20px;
}

.document-content-bottom label {
  font-weight: bold;
}

.document-price {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.document-content label {
  font-weight: bold;
}

.document-price label {
  font-weight: bold;
}

.request-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.request-price-total {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.document-status {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
