.header {
  background-color: rgb(254, 254, 254);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 70px;
  align-items: center;
  border-bottom: solid 1px rgba($color: #000, $alpha: 0.1);

  &__left {
    display: flex;
    gap: 20px;
    align-items: center;
    cursor: pointer;
  }

  &__navigation {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-left: 0;
    margin-top: 10px;
    li {
      color: #202124;
      font-size: 15px;
      font-weight: 600;
      text-transform: uppercase;
      padding-bottom: 5px;
      cursor: pointer;

      &:hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background-color: black;
        transition: all 0.3s;
      }
    }
  }

  &__account {
    .icon {
      font-size: 30px;
      width: 40px;
      height: 40px;
      border: solid 1px #000;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
  }
}
